<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://assignmentsandernederstigt577208.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1287bad1-5121-4f79-9a17-799078ead39f/resourceGroups/INH-5946-WRKSHP-D-AZWE-RG-1/providers/Microsoft.Web/sites/assignmentsandernederstigt577208</ResourceId>
    <UserName>$assignmentsandernederstigt577208</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/1287bad1-5121-4f79-9a17-799078ead39f/resourceGroups/INH-5946-WRKSHP-D-AZWE-RG-1/providers/Microsoft.ApiManagement/service/Functionsapi/apis/Functions</ApiResourceId>
    <PublishUrl>https://assignmentsandernederstigt577208.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>